# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.idea
.vscode

plumber
plumber.exe
plumber_darwin
plumber_linux
pct.md

piledriver_core.exe
piledriver_core_darwin
piledriver_core_linux
piledriver_server

dns.cache
dns.cache/*
